@model CourseViewModel
@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align: center;"><b>Kurs Kayıt</b></h1>
<hr>
<form asp-controller="Course" asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="CourseName"></label>
        <input asp-for="CourseName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="TeacherId" class="form-label">Öğretmen</label>
        <select asp-for="TeacherId" asp-items="ViewBag.Teachers" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>
    
    <button type="submit" class="btn btn-secondary"> Kurs Ekle</button>
</form>