@model Teacher
@{
    ViewData["Title"] = "Create";
}
<h1 style="text-align: center;"><b>Öğrenci Ekle</b></h1>
<hr>
<form asp-controller="Teacher" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <button type="submit" class="btn btn-secondary"> Öğrenci Ekle</button>
</form>