@model List<Post>
@{
    ViewData["Title"] = "List";
}
<div class="row">
    <div class="col-12">
        <h2>Post List</h2>
        <a href="/Post/Create" class="btn btn-primary ">Post Ekle</a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th style="width: 200px;">Image</th>
                    <th>Title</th>
                    <th>IsActive</th>
                    <th style="125px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td><img src="/img/@item.ImageUrl"class="img-fluid"></td>
                        <td>@item.Title</td>
                        <td>@item.IsActive</td>
                        <td>
                            <a href="/Post/Edit/@item.PostId" class="btn btn-primary">Güncelle</a>
                            <a href="#" class="btn btn-danger">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
